.sidebar {
    width: 330px !important; 
    background-color: white; 
    color: black; 
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

.sidebar__profile {
    text-align: center;
    margin-bottom: 20px;
  }
  
.profile__image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
  }
  
.profile__name {
    font-size: 18px;
    font-weight: bold;
    color: #000; 
  }
  
.profile__actions {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

.profile__action-button {
  text-align: center;
  cursor: pointer;
    }
.profile__action-button img {
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s;
}
.action-icon {
  text-align: center;
  cursor: pointer;
}
  /* Tiêu đề mỗi mục */
  .menu__section {
    list-style: none;
    padding: 0;
  }
  
  .menu__section-title {
    font-size: 18px;
    color: #000; 
    margin-bottom: 10px;
  }
  
  /* Các mục trong menu */
  .menu__item {
    display: flex;
    align-items: center;
    margin: 5px 0;
    cursor: pointer;
    padding: 8px;
    background-color: #f8f8f8;
    color: black;
    border-radius: 8px;
    transition: background-color 0.3s;
    justify-content: flex-start;
  }

  .menu__item img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
  }

  .arrow {
    margin-left: auto; 
    font-size: 14px; 
    color: black 
  }
  
  .menu__item:hover {
    background-color: #e0e0e0; /* Đổi màu nền khi hover */
  }
  