.Login-navbar {
    width: 100%;
    background: rgb(255, 255, 255);
    height: 100px;
    display: flex;
    flex-direction: row;
    gap: 600px;
    align-items: center;

}

.login-nav-logo img {
    width: 180px;
    margin-left: 132px;
}

.login-nav-menu {
    display: flex;
    flex-direction: row;
    gap: 85px;
    font-weight: 600;
    list-style: none;
    font-size: 17px;
    font-family: Helvetica, sans-serif;
    justify-content: center;
}

.login-nav-li {
    display: flex;

}

.login-nav-li:hover {
    color: rgb(0, 92, 231);
    cursor: pointer;
}