.sidebar {
    width: 349px !important; 
    background-color: #e0e0e0; 
    color: #000; 
    height: 100vh;
    padding: 30px;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    border: 2px solid #5862f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  /* Thông tin người dùng */
.sidebar__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
.profile__image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
.profile__name {
    font-size: 18px;
    font-weight: bold;
    color: #000; /* Đổi màu chữ thành đen */
  }
  
.profile__actions {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
  }

.profile__action-button {
    border: none;
    padding: 10px;
    margin: 0 10px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    border-radius: 50%;
    width: 71px; 
    height: 71px; 
    cursor: pointer;
    font-size: 12px; 
    }

.action-icon {
    font-size: 18px;
    right: 0;
    margin-bottom: 5px;
    flex-direction: row;
}

.action-icon-emotion {
    color: #5862f8;
}

.action-icon-theme {
    color: #800080;
}

.action-icon-black {
    color: #000;
}

.action-icon-red {
    color: #ff0000;
    margin-left: 8px; 
    font-size: 13px; 
    vertical-align: middle; 
}
  
  /* Tiêu đề mỗi mục */
  .menu__section {
    margin-bottom: 20px;
  }
  
  .menu__section-title {
    font-size: 18px;
    color: #000; 
    margin-bottom: 10px;
  }
  
  /* Các mục trong menu */
  .menu__item {
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 8px;
    color: #000; 
  }

  .chevron-icon {
    margin-left: 8px; 
    font-size: 13px; 
    vertical-align: middle; 
  }
  
  
  .menu__item:hover {
    background-color: #e0e0e0; /* Đổi màu nền khi hover */
  }
  