.main-layout-chat {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;

    .chat-section {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;      
    }

}