.info-section {
  background-color: white;
  width: 330px;
  height: 100vh;
  padding: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  overflow-y: auto;
}

.profile {
  text-align: center;
  margin-bottom: 20px;
}

.avatar-container {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.avatar {
  width: 100%;
  border-radius: 50%;
}

.status {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  margin-top: 5px;
}

.action-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.action-btn {
  text-align: center;
  cursor: pointer;
}

.action-btn img {
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.action-btn img:hover {
  background-color: #e0e0e0;
}

.action-btn p {
  margin-top: 10px;
  font-size: 14px;
  color: black;
}

/* Gom các tùy chọn lại với nhau */
.options li, .sub-options li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 8px;
  transition: background-color 0.3s;
  border: none;
}

.options li:hover, .sub-options li:hover {
  background-color: #d2b48c;
}

.arrow {
  margin-left: auto;
  font-size: 14px;
  color: black;
}

.sub-options {
  list-style: none;
}

.sub-options li img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

/* Danh sách thành viên */
.members {
  list-style: none;
  padding: 0;
}

.member-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 8px;
  background-color: #3e3b3b;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.member-item:hover {
  background-color: #505050;
}

.member-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

.member-info {
  flex-grow: 1;
}

.member-info p {
  margin: 0;
}

.admin, .add {
  flex-grow: 1;
}
